@{
	ViewBag.Title = "Registered";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"><strong>Registered Successfully </strong></h2><br>

You are successfully registered <strong>@ViewBag.LastName @ViewBag.FirstName</strong> 
