@{
    ViewBag.Title = "Contact";
}
 <h1>Welcome, @Session["user"]<br> @Cache["lastuserlogin"]</h1>

<address>
    Project and Activity<br/>
    Octavio, Muelver<br/>
    Mojado, Julimar<br>
    <abbr title="Phone">P:</abbr>
    09058342601
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
</address>