@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1 class="text-center"; style="font-size:24px;"><br></h1>
       
    <h1 class="text-center";>Hampas Lupa University</h1>
    <p class="lead text-center">Education is the key to success</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Free Tuition</h2>
        <p>
           .......
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free Dormitory</h2>
        <p>........</p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>1k Allowance</h2>
        <p>......</p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
</div>