@model List<SharpDevelopMVC4.Models.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	var Products = ViewBag.Products;
}

<div class="card-header">
<h2>Welcome Pets Lover</h2>
</div><br><br>




<form action="/product/search">

   
   <div class="container">
   
   <div class="row">
   
   <div class="col-md-xl">
   <input type="text" class="form-control" name="key" placeholder="Search"/>
   </div>
   
   <div class="col-md-xl"> 
   <button type="submit" class="btn btn-primary" style="margin-left:1px">Search</button>
   </div>
   
   <div class="col-md-xl">
    <select  name="priceSort" class="form-control" style="margin-left:5px"> 
		<option>Sort By</option>
		<option value="low" >price low to high</option>
		<option value="high">price high to low</option>	
	</select>
   </div>
   
   <div class="col-md-xl">
    <button type="submit" class="btn btn-primary"  style="margin-left:5px">SortNow</button>
   </div>
   
 
  
   </div>
   </div>
	
	
</form>






<table class="table table-bordered">
    <thead>
      <tr>
       
        <th>Name</th>
        <th>Location</th>
       
          <th></th>
      </tr>
    </thead>
    <tbody>

	@foreach(var p in Model)
	{
	    <tr>
      
        <td> @p.Name </td>
         <td> @p.Location </td>
         
    
        <td>
      
      <a href="#" class="btn btn-primary btn-sm" style="margin-left:5px">View</a></td>
      </tr>
	}
    
    
     </tbody>
  </table>

<br>
<br>



<form action="/product/search">

   
   <div class="container">
   
   <div class="row">
   
   <div class="col-md-xl">
   <input type="text" class="form-control" name="key" placeholder="Search"/>
   </div>
   
   <div class="col-md-xl"> 
   <button type="submit" class="btn btn-primary" style="margin-left:1px">Search</button>
   </div>
   
   <div class="col-md-xl">
    <select  name="priceSort" class="form-control" style="margin-left:5px"> 
		<option>Sort By</option>
		<option value="low" >price low to high</option>
		<option value="high">price high to low</option>	
	</select>
   </div>
   
   <div class="col-md-xl">
    <button type="submit" class="btn btn-primary"  style="margin-left:5px">SortNow</button>
   </div>
   
 
  
   </div>
   </div>
	
	
</form>

<hr />



<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>ONLINE VETERINARY CLINIC</h1>
  <p>INSPIRED BY GABON MASTER!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
   
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>NAMBAWAN ONLINE VETERINARY CLINIC</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg"><img src="~/Content/img/Logo.jpg" alt="Sample Image" width="300px" /></div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    
    
 @foreach (var Vet in Model)
{
  

    
    <div class="col-sm-8">
      <h2>@Vet.Name</h2>
      <h5>@Vet.Location</h5>
      <div class="fakeimg"><img src="~/Content/img/clinic.jpg" alt="Sample Image" width="300px" /></div><br>
      <div> <a href="#" class="btn btn-primary" style="margin-left:5px">View</a></div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit 
      anim id est laborum consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <hr />
    </div>

    }
  </div>
  
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>SOCIAL MEDIA ACCOUNT AND OTHER INFORMATION</p>
  
</div>